<h3>Select number of room:</h3>
<table>
  <thead>
  <tr>
    <th>Number</th>
    <th>Type</th>
    <th>Price</th>
    <th colspan="3"></th>
  </tr>
  </thead>
  <tbody>
  <% @room.each do |f| %>
      <tr>
        <td><%= f.number %></td>
        <td><%= @rtype[f.type_id-1].type_name %></td>
        <td><%= f.price %></td>
      </tr>
  <% end %>
  </tbody>
</table>