<%= form_tag('/welcome') %>
<% @page_title = 'Welcome' %>
<h2> Welcome to room booking system</h2>
    <h3> Select date: </h3>
    <p> From:<%= date_select(:d_st, '' ) %></p>
    <p> To:<%= date_select(:d_en, '' ) %></p>
    <%=submit_tag value='Accept date' %>